html {
  height: 100%;
}
.demo-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.demo-wrapper-header {
  height: 30px;
  background-color: aquamarine;
  line-height: 30px;
}
.demo-wrapper-main {
  height: 100%;
  display: flex;
  padding-top: 80px;
  justify-content: center;
}
.demo-wrapper-main table,
.demo-wrapper-main table tr th,
.demo-wrapper-main table tr td {
  border: 1px solid #d9d9d9;
}
.demo-wrapper-main table {
  line-height: 50px;
  text-align: center;
  border-collapse: collapse;
}
.demo-wrapper-main table tr th,
.demo-wrapper-main td {
  position: relative;
  width: 150px;
}
.demo-wrapper-main table tr th .merge-button-wrapper,
.demo-wrapper-main td .merge-button-wrapper {
  position: absolute;
  right: 0;
  top: -35px;
  padding: 0;
  display: none;
}
.demo-wrapper-main table tr th .merge-button-wrapper button,
.demo-wrapper-main td .merge-button-wrapper button {
  width: 70px;
  margin-right: 5px;
}
.demo-wrapper-main td:hover .merge-button-wrapper {
  display: block;
}
.demo-wrapper-main th {
  position: relative;
  background-color: #f5f5f8;
}
.demo-wrapper-main th .button-wrapper {
  position: absolute;
  top: -30px;
  right: 0;
  display: none;
}
.demo-wrapper-main th .button-wrapper button {
  width: 50px;
  margin-right: 5px;
}
.demo-wrapper-main th:hover .button-wrapper {
  display: block;
}
.demo-wrapper-main table tr td:first-child,
.demo-wrapper-main table tr th:first-child {
  width: 80px;
}
.demo-wrapper-main .row-order-num {
  position: relative;
  background-color: #f5f5f8;
}
.demo-wrapper-main .row-order-num .button-wrapper {
  position: absolute;
  right: 0;
  top: -35px;
  padding: 0;
  display: none;
}
.demo-wrapper-main .row-order-num .button-wrapper button {
  width: 25px;
  margin-right: 5px;
}
.demo-wrapper-main .row-order-num:hover .button-wrapper {
  display: block;
}
.demo-wrapper-main .selected {
  background-color: #cce2ff;
}
.demo-wrapper-main .hidden-cell {
  display: none;
}
